* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-btn {
    width: 30%;
}

.form-show {
    width: 70%;
}

#form-bai1 {
    display: none;
}

#form-bai1.active {
    display: block;
}

#form-bai2 {
    display: none;
}

#form-bai2.active {
    display: block;
}

#form-bai3 {
    display: none;
}

#form-bai3.active {
    display: block;
}

#form-bai4 {
    display: none;
}

#form-bai4.active {
    display: block;
}

#form-bai5 {
    display: none;
}

#form-bai5.active {
    display: block;
}

#form-bai6 {
    display: none;
}

#form-bai6.active {
    display: block;
}

#form-bai7 {
    display: none;
}

#form-bai7.active {
    display: block;
}

#form-bai8 {
    display: none;
}

#form-bai8.active {
    display: block;
}

#form-bai9 {
    display: none;
}

#form-bai9.active {
    display: block;
}

#form-bai10 {
    display: none;
}

#form-bai10.active {
    display: block;
}